* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    margin: 0 auto;
    background: #7fa7f3;
    color: #212957;
    padding: 8px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
}

.clear{
    clear: both;
}

.col70{
    width: 68%;
}

.col30{
    float: left;
    width: 30%;
}

.left{
    float: left;
    position: fixed;
    width: 30%;
    border: 1px solid grey;
}

.left, .col70{
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
}

.row{
    margin-top: 50px;
    display: flex;
}

input[type=date]{
    padding: 8px 15px;
    border-radius: 4px;
}

form input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
}

table input[type=number] {
    padding: 8px 5px;
}

select {
    width: 100%;
    padding: 8px 20px;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.button {
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
}

.button-simpan{
    background-color: #7fa7f3; /* Green */
    color: #212957;
}

.button-reset{
    background-color: rgb(182, 179, 179);
    margin-top: 5px;
}

.button-simpan:hover{
    background: #698ed2;
}

a {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
}

#i {
    background: #7fa7f3;
}

#edit {
    background: #13a00e;
}

#hapus{
    background: #a0290e;
}

#print{
    background: #212957;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7fa7f3;
    color: white;
  }

.head input[type=text] {
    padding: 8px 20px;
    margin: 8px 0;
    width: 400px;
    border-radius: 4px;
    box-sizing: border-box;
}

.head button{
    background-color: #a0290e; /* Green */
    border: none;
    color: #f1f1f1;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
}

.head button:hover{
    background-color: #cf3b19;
}

.head::after{
    display: table;
    clear: both;
}

#download_button{
    border: none;
    color: #f1f1f1;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
}

#panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: center;
}